<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Scraper</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Recipe Scraper</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
                <li>
                    <a class="btn btn-danger scrape-new" href="/scrape">SCRAPE NEW NOMMY NOMMY RECIPES!</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Mongo Scraper</h1>
            <p>Recipe Edition</p>
        </div>
    </div>
    <div class="container-fluid article-container">
    </div>
    {{{ body }}}
</body>
<script src='https://code.jquery.com/jquery.js'></script>
<script src="/assets/js/script.js"></script>

</html>