<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>Recipe Edition</p>
       <h2>Saved Recipes</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each SavedRecipe}} {{#if this.saved}}
        <div class="recipe-group center-block text-center col-md-12">
            <h3 class="recipe-title">{{title}}</h3>
            <div class="contain-link row">
                <div class="col-md-6 image">
                    <img src="{{imgLink}}" alt="Food Image" class="food-img" width="250" height="200">
                </div>
                <div class="col-md-6 buttons">
                    <button class="center-block text-center">
                        <a class="recipeLink" href="{{recipe}}" target="_blank">
                            <h4>Click for the Recipe!</h4>
                        </a>
                    </button>
                    <button class="unfavorite center-block text-center">
                        <h4>
                            Delete Recipe From Saved!
                        </h4>
                    </button>
                    <button class="addNote center-block text-center">
                        <h4>
                            Add Notes to this Recipe!
                        </h4>
                    </button>
                </div>
            </div>
        </div>
        {{/if}}{{/each}}
    </div>
</div>